<h1>{{titulo}}</h1>
<p>{{conteudo}}</p>
<span class="data">Data: {{dataPostagem}}</span>
<hr>

<article class="comentarios">
    <h2>Comentários</h2>
    <hr>
    {% for comentario in comentarios%}
    <h3>{{comentario.nome}}</h3>
    <p>{{comentario.mensagem}}</p>
    {% endfor %}
    {% if comentarios == false %}
        <p>Sem comentários</p>
    {% endif %}
</article>
<h2>Deixe um comentário</h2>
<section class="create-container">
    <form action="" method="post">
        <input type="text" placeholder="Seu nome" name="nome">
        <textarea name="mensagem" rows="10" placeholder="Deixe sua mensagem"></textarea>
        <input type="submit" value="Comentar">
        </div>
    </form>
</section>