<h1>{{titulo}}</h1>
<p>{{conteudo}}</p>
<p>Data: {{dataPostagem}}</p>
<hr>

<article class="comentarios">
    <h2>Comentários</h2>
    <hr>
    {% for comentario in comentarios%}
    <h3>{{comentario.nome}}</h3>
    <p>{{comentario.mensagem}}</p>
    {% endfor %}
    {% if sc == 3%}
        <p>Sem comentários</p>
    {% endif %}
</article>
<h2>Deixe um comentário</h2>
<section class="create-container">
    <form action="">
        <input type="text" placeholder="Seu nome" name="nome">
        <textarea name="" id="" rows="10" placeholder="Deixe sua mensagem"></textarea>
        <input type="submit" value="Postar">
        </div>
    </form>
</section>