<h1>Módulo Admin</h1>
<h2>Postagens</h2>
<section>
    <a href="?page=admin&metodo=create">
        <div class="icon-container">
            <img src="app/View/img/icons/plus-circle.png" class="mini-icon">
            <span>Novo post</span>
        </div>
    </a>
    <table class="tabela">
        <thead>
            <th>ID</th>
            <th>Título</th>
            <th>Data</th>
            <th>Ações</th>
        </thead>
        <tbody>
            {% for postagem in postagens%}
            <tr>
                <td>{{postagem.idPostagem}}</td>
                <td><a href="?page=post&id={{postagem.idPostagem}}">{{postagem.titulo}}</a></td>
                <td>{{postagem.dataPostagem}}</td>
                <td>
                    <div class="icon-container">
                        <a href="?page=admin&metodo=update&id={{postagem.idPostagem}}"><img src="app/View/img/icons/pen-to-square.png" title="Editar" class="mini-icon"></a>
                        <a href="?page=admin&metodo=delete&id={{postagem.idPostagem}}"><img src="app/View/img/icons/trash.png" title="Excluír" class="mini-icon"></a>
                    </div>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="?page=admin&metodo=logout">
        <div class="icon-container">
            <img src="app/View/img/icons/door-open.png" class="mini-icon">
            <span>Sair</span>
        </div>
    </a>
</section>

