<h1>Módulo Admin</h1>
<h2>Postagens</h2>
<section>
    <a href="?page=admin&metodo=create">
        <div class="icon-container">
            <i class="fa fa-plus-circle mini-icon"></i>
            <span>Novo post</span>
        </div>
    </a>
    <table class="tabela">
        <thead>
            <th>ID</th>
            <th>Título</th>
            <th>Data</th>
            <th>Ações</th>
        </thead>
        <tbody>
            {% for postagem in postagens%}
            <tr>
                <td>{{postagem.idPostagem}}</td>
                <td><a href="?page=post&id={{postagem.idPostagem}}">{{postagem.titulo}}</a></td>
                <td>{{postagem.dataPostagem}}</td>
                <td>
                    <div class="icon-container">
                        <a href="?page=admin&metodo=update&id={{postagem.idPostagem}}">
                            <i class="fa-solid fa-pen-to-square mini-icon"></i>
                        </a>
                        <a href="?page=admin&metodo=delete&id={{postagem.idPostagem}}">
                            <i class="fa-solid fa-trash-can mini-icon"></i>
                        </a>
                    </div>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="?page=admin&metodo=logout">
        <div class="icon-container">
            <i class="fa fa-door-open mini-icon"></i>
            <span>Sair</span>
        </div>
    </a>
</section>

