<a href="?page=home">Continuar como Visitante</a>
<section class="login">
    <article class="login-imagem">

    </article>
    <article class="login-formulario">
        <img src="app/View/img/icons/user-white.png" alt="" class="big-icon">
        <form action="" method="post">
            <div class="campo-input">
                <img src="app/View/img/icons/user.png" alt="" class="mini-icon">
                <input type="text" name="username" placeholder="Usuario">
            </div>
            <div class="campo-input">
                <img src="app/View/img/icons/key.png" alt="" class="mini-icon">
                <input type="password" name="senha" placeholder="Senha">
            </div>
            <div class="campo-input">
                <input type="submit" value="Entrar">
            </div>
        </form>
    </article>
</section>