<a href="?page=home">Continuar como Visitante</a>
<section class="login">
    <article class="login-imagem">

    </article>
    <article class="login-formulario">
        <i class="fa-solid fa-user-group big-icon"></i>
        <form action="" method="post">
            {% if erros != 0 %}
                <li>{{erros}}</li>
            {% endif %}
            <div class="campo-input">
                <i class="fa fa-user mini-icon"></i>
                <input type="text" name="username" placeholder="Usuario">
            </div>
            <div class="campo-input">
                <i class="fa fa-key mini-icon"></i>
                <input type="password" name="senha" placeholder="Senha">
            </div>
            <div class="campo-input">
                <input type="submit" value="Entrar">
            </div>
        </form>
    </article>
</section>