<h1>Editar Postagem</h1>
<section class="create-container">
    <form action="" method="post">
        <label for="titulo">Título</label>
        <textarea name="titulo" rows="1" placeholder="Dê um título ao seu post">{{titulo}}</textarea>
        <label for="conteudo">Conteudo</label>
        <textarea name="conteudo" rows="10"placeholder="Escreva aqui">
            {{conteudo}}
        </textarea>
        <div>
            <button type="submit">Salvar Alterações</button>
            <a href="?page=admin" class="btn" >Cancelar</a>
        </div>
    </form>
</section>